page-saved-results {

  #saved-results-container {
    //border: 1px solid white;
    //border-radius: 8px;
    height: 45vh;
    //overflow: scroll;
  }

  ion-list {
    ion-item {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-radius: 6px;
      margin: 3px !important;
      color: white !important;
    }
  }

  ion-card {
    background-color: transparent !important;
    border-radius: 8px !important;
    border: 1px solid white;
    box-shadow: none !important;
  }

  ion-card ion-card-content {
    text-align: center;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }
  h1, h2 {
    color: white !important;
  }

  #date {
    font-size: 10vw;
    color: white;
  }

  #location {
    font-size: 5vw;
    color: white;
  }

}
