page-saved-results {

  ion-slides {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 12px;
    border-radius: 8px 8px 0 0;
  }

  .delete-result-button {
    background: linear-gradient(45deg, #ff1744 0%,#ff5252 100%);
    box-shadow: 0 2px 5px rgba(255, 23, 68, 0.3) !important;
    color: white;
    width: 75%;
    margin: 0 auto 10px auto;
  }

  #badge-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 8px 8px;
    padding-bottom: 10px;
  }

  #no-results-text {
    font-size: 4vw;
    font-family: OpenSans-Regular, sans-serif;
    text-align: center;
    color: white;
  }

}
