page-advanced-options {

  ion-list-header, ion-icon {
    color: #00B0FF !important;
  }

  ion-badge {
    color: white;
    background-color: #1DE9B6 !important;
  }

  button {
    color: white;
    background-color: #00E5FF !important;
  }

}
