page-advanced-options {

  ion-list-header, ion-icon {
    color: #00B0FF !important;
  }

  #mm-badge {
    color: white;
    background-color: #2979FF;
  }

  #done-button {
    color: white;
    background-color: #2979FF;
  }

}
