page-lookup {

  ion-header {
    font-family: OpenSans-Regular, sans-serif;
    text-align: center;

    h1, h2 {
      color: white !important;
      margin: 0;
      //background-color: #00E5FF;
    }
    h2 {
      font-size: 4vw;
    }

    ion-grid {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);


      ion-row ion-col button {
        margin: 0 auto !important;
        border: 2px solid rgba(255, 255, 255, 0.5);
      }
    }

  }

  #map {
    height: 100%;
  }

  #datetime-picker {
    display: none;
  }

  #search-fab-container {
    margin-bottom: 24px;

    button {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

}
