page-lookup {

  ion-header {
    font-family: OpenSans-Regular;

    h1 {
      margin: 0;
      padding: 0 0 10px 0;
    }
    h1, h2 {
      color: white !important;
      text-align: center;
      font-family: Ubuntu-Medium;
    }
    h2 {
      font-size: 4vw;
    }

    ion-grid {
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);

      #calendar-button {
        background-color: white;
        color: #00E676;
      }
      #options-button {
        background-color: white;
        color: #00B0FF;
      }
      #pin-button {
        background-color: white;
        color: #FF1744;
      }

      ion-row ion-col button {
        margin: 0 auto !important;
      }
    }
  }

  #map {
    height: 100%;
  }

  #datetime-picker {
    display: none;
  }

  #search-fab-container {
    margin-bottom: 24px;

    button {
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    }
  }

}
