page-lookup {

  ion-header {
    font-family: OpenSans-Regular, sans-serif;
    text-align: center;

    h1, h2 {
      color: white !important;
      margin: 0;
      font-weight: bold;
    }
    h2 {
      font-size: 4vw;
    }

    ion-grid {
      box-shadow: 0 2px 2px 2px rgba(0, 229, 255, 0.3);

      ion-row ion-col button {
        margin: 0 auto !important;
        border: 2px solid rgba(255, 255, 255, 0.5);
        box-shadow: none !important;
      }
    }
  }

  /* Remove shadow for Android */
  ion-header.header.header-md::after {
    background-image: none !important;
  }

  #map {
    height: 100%;
  }

  #datetime-picker {
    display: none;
  }

  #search-fab-container {
    margin-bottom: 24px;

    button {
      box-shadow: 0 2px 2px 2px rgba(0, 229, 255, 0.3);
    }
  }

}
