page-help {

  h2, p {
    color: #757575;
    font-family: OpenSans-Regular, sans-serif;
  }
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
    line-height: 1.4;
    text-align: justify;
  }

  ion-card {
    box-shadow: none !important;
    border-radius: 8px !important;
  }

  #calendar-icon {
    color: #00E676;
  }
  #options-icon {
    color: #00B0FF;
  }
  #pin-icon {
    color: #FF1744;
  }
  #search-icon {
    color: #00E5FF;
  }

  #worth-noting {
    margin-top: 12px;
  }

}
