page-help {

  ion-card ion-card-content p {
    color: white !important;
    margin-top: 12px !important;
    text-align: justify;
    font-family: OpenSans-Regular, sans-serif;
  }

  #calendar-card {
    background: linear-gradient(45deg, #00e676 0%,#69f0ae 100%);
    box-shadow: 0 2px 5px rgba(0, 230, 118, 0.3) !important;

    #calendar-icon, h2 {
      color: #00E676;
    }
  }

  #precipitation-card {
    background: linear-gradient(45deg, #00b0ff 0%,#40c4ff 100%);
    box-shadow: 0 2px 5px rgba(0, 176, 255, 0.3) !important;

    #options-icon, h2 {
      color: #00B0FF;
    }
    #worth-noting {
      margin-top: 12px;
    }
  }

  #location-card {
    background: linear-gradient(45deg, #ff1744 0%,#ff5252 100%);
    box-shadow: 0 2px 5px rgba(255, 23, 68, 0.3) !important;

    #pin-icon, h2 {
      color: #FF1744;
    }
  }

  #search-card {
    background: linear-gradient(45deg, #00e5ff 0%,#18ffff 100%);
    box-shadow: 0 2px 5px rgba(0, 229, 255, 0.3) !important;

    #search-icon, h2 {
      color: #00E5FF;
    }
  }

}
