page-home {

  .page-grid-top {
    height: 80%;
  }
  .page-grid-bottom {
    height: 20%;
  }

  #inapp-logo {
    width: 25vw;
  }

  /* Topic and subtopic */
  #home-topic, #home-subtopic {
    color: white;
  }
  #home-topic {
    font-family: Ubuntu-Bold;
    font-size: 10vw;
  }
  #home-subtopic {
    font-family: Ubuntu-Regular;
    font-size: 4vw;
  }

  #lookup-button-col {
    padding: 0 24px;
  }
  #lookup-button {
    font-family: Ubuntu-Medium;
    color: white;
    background-image: linear-gradient(19deg, #2979FF 0%, #448AFF 100%);
  }

  #rate-button-col {
    position: relative;
  }
  #info-button {
    color: #448AFF;
    background-color: white;
  }
  #rate-button {
    position: absolute;
    right: 0;
    color: orange;
    background-color: white;
  }

}
