page-home {

  .page-grid-top {
    height: 80%;
  }
  .page-grid-bottom {
    height: 20%;

    ion-row ion-col {
      text-align: center;
    }
    ion-row ion-col button {
      margin: 0 auto !important;
      background-color: white;
      color: #00E5FF;
      border: 1px solid #00E5FF;
    }
  }

  #inapp-logo {
    width: 25vw;
  }

  /* Topic and subtopic */
  #home-topic, #home-subtopic {
    font-family: Josefin-Regular, sans-serif;
    color: white;
  }
  #home-topic {
    font-size: 13vw;
  }
  #home-subtopic {
    font-size: 6vw;
  }

  #lookup-button {
    margin-top: 16px;
    font-family: OpenSans-Regular, sans-serif;
  }

}
