page-result {

  .page-grid-top {
    height: 60%;
  }
  .page-grid-bottom {
    height: 40%;
  }
  .result-button {
    box-shadow: 0 2px 5px rgba(124, 77, 255, 0.3);
    background: linear-gradient(45deg, #2979FF 0%, #448AFF 100%);
    margin: 12px 0;
  }

}
