page-settings {

  font-size: 4vw;
  line-height: 1.4;
  font-family: OpenSans-Regular, sans-serif;

  #settings-grid, #settings-grid-row {
    height: 100%;
    padding: 0;
    color: white;

    #back-button {
      margin-top: 44px;
    }
  }
  #settings-grid-row {
    text-align: center;
  }

  #settings-topic {
    font-size: 8vw;
    font-family: Josefin-Regular, sans-serif;
  }

  #settings-text {
    text-align: left;
  }

}
