// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* OpenSans */
@font-face {
  font-family: OpenSans-Light;
  src: url("../assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

/* Ubuntu */
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

ion-title {
  font-family: Ubuntu-Medium;
}

.gradient-background {
  //background: linear-gradient(to top, #2979FF 0%, #448AFF 100%);
  background: linear-gradient(to top, #2979FF 0%, #7C4DFF 100%);
}

/* General page styles */
.page-grid, .page-grid-row {
  height: 100%;
  padding: 0;
  color: white;
}
.page-grid-top, .page-grid-bottom {
  color: white;
}
.page-grid-top {
  background-image: url("../assets/img/result-clouds.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-grid-bottom {
  background-color: white;
}
.page-grid-row {
  text-align: center;
}
.page-topic {
  margin: 0 0 10px 0; // Remove default margin top (20px), keep margin bottom.
  font-size: 8vw;
  font-family: Ubuntu-Medium;
}
.page-text {
  font-size: 4vw;
  line-height: 1.4;
  font-family: OpenSans-Regular, sans-serif;
  text-align: left;
  color: white;
}

/* Toasts */
.error-toast .toast-wrapper {
  background-color: #FFEBEE;
  .toast-message, .toast-button {
    color: #F44336;
  }
}

/* Loading animation */
.loading-animation .loading-wrapper {
  .loading-content {
    color: #2979FF;
  }
  ion-spinner * {
    fill: #2979FF;
  }
}

/* Result card */
.result-card {
  background: linear-gradient(45deg, #7C4DFF 0%, #B388FF 100%);
  border-radius: 12px;
  box-shadow: 0 15px 10px -12px rgba(124, 77, 255, 0.3);

  ion-item {
    ion-icon {
      color: white;
    }
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.02);
  }

  ion-card-content p {
    text-align: left;
    margin-top: 16px;
  }
  h2, p {
    color: white !important;
    font-family: Ubuntu-Medium;
  }
}
.darksky-logo-wide {
  width: 50vw;
  height: auto;
}
