// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Josefin */
@font-face {
  font-family: Josefin-Light;
  src: url("../assets/fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: Josefin-Regular;
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

/* OpenSans */
@font-face {
  font-family: OpenSans-Light;
  src: url("../assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

ion-title {
  font-family: OpenSans-Light, sans-serif;
  font-weight: bold;
}

.gradient-background {
  background: linear-gradient(to bottom, #00E5FF 0%, #1DE9B6 100%);
}

/* General page styles */
.page-grid, .page-grid-row {
  height: 100%;
  padding: 0;
  color: white;
}
.page-grid-row {
  text-align: center;
}
.page-topic {
  margin: 0 0 10px 0; // Remove default margin top (20px), keep margin bottom.
  font-size: 8vw;
  font-family: Josefin-Regular, sans-serif;
}
.page-text {
  font-size: 4vw;
  line-height: 1.4;
  font-family: OpenSans-Regular, sans-serif;
  text-align: left;
  color: white;
}

/* Toasts */
.error-toast .toast-wrapper {
  background-color: #FFEBEE;
  .toast-message, .toast-button {
    color: #F44336 !important;
  }
}
.success-toast .toast-wrapper {
  background-color: #E8F5E9;
  .toast-message, .toast-button {
    color: #4CAF50 !important;
  }
}

/* Loading animation */
.loading-animation .loading-wrapper {
  .loading-content {
    color: #1DE9B6;
  }
  ion-spinner * {
    fill: #00E5FF;
  }
}

/* Result card */
.result-card {
  background: linear-gradient(45deg, #7C4DFF 0%, #B388FF 100%);
  border-radius: 12px !important;
  box-shadow: 0 15px 10px -12px rgba(124, 77, 255, 0.3) !important;

  ion-item {
    ion-icon {
      color: white;
    }
    background-color: rgba(255, 255, 255, 0.08) !important;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.02) !important;
  }

  ion-card-content p {
    text-align: left;
    margin-top: 16px !important;
  }
  h2, p {
    color: white !important;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3) !important;
    font-family: OpenSans-Regular, sans-serif !important;
  }
}
.darksky-logo-wide {
  width: 50vw !important;
}